<div class="overview">
    <div class="row">
        <div class="col-sm-12">
            <p class="p-4">
                <span class="tab"></span>Hello, my name is Christian Laurienzo. I'm a husband, brother, son, and 
                professional software developer. I've been developing professionally for the past {{yearsDeveloping}}
                years. I prefer front end development. Although, my experience in a professional setting involves the
                entire stack. User interfaces and experiences, I find to be a bridge between now and my earlier education 
                in fine arts.
            </p>
        </div>
    </div>
</div>
