@import '../../../assets/styles/variables.scss';

.gallery {
    width: 102%;
    top: 60px;

    .profile-picture {
        width: 300px;
        border-radius: 200px;
    }

    .husband-wife-photo {
        border-radius: 50%;
    }
    
    .family-photo {
        border-radius: 10px;
    }

    .gallery-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 300px;
        margin-bottom: 5px;
    }
}