<div class="services">
    <h2>Available Services</h2>
    <div class="row p-4">
        <div class="col-md-4 text-center p-4">
            <i class="bi bi-code-slash p-3"></i>
            <h5>Web Apps & Pages</h5>
            <p>
                In need of a web base application or landing page that makes sense for you
                and your clientele? I'd love to hear your ideas and collaborate on a tasteful
                solution.
            </p>
        </div>
        <div class="col-md-4 text-center p-4 borders">
            <i class="bi bi-stack p-3"></i>
            <h5>Full Stack Solutions</h5>
            <p>
                Looking for an effecient API that your customers can utilize on your platform?
                Or maybe you need a solution for organizing your customers data. Let's find a solution
                that best fits your business requirements. 
            </p>
        </div>
        <div class="col-md-4 text-center p-4">
            <i class="bi bi-brush p-3"></i>
            <h5>Design</h5>
            <p>
                Let's collaborate on an aesthetically pleasing design that welcomes customers and
                keeps them engaged. Also, if your looking for any graphics or logos; I have the 
                tools to help.
            </p>
        </div>
    </div>
</div>
