@import '../../../assets/styles/variables.scss';

.education {
    padding: 20px;

    h2 {
        border-bottom: 1px solid $global-grey;
        padding-bottom: 5px;
    }

    .logo{
        height: 100px;
    }

    .slide-animation{
        animation-duration: 2s;
        animation-name: slidein;

        @keyframes slidein {
            from {
              margin-left: 100%;
              width: 300%;
            }
          
            to {
              margin-left: 0%;
              width: 100%;
            }
        }
    }
}