<div class="education">
    <h2>Education</h2>
    <ul class="list-group list-group-flush pt-4">
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    <img class="logo"
                         src="{{kentLogo}}"
                         alt="Kent State University seal." />
                </div>
                <div class="col-md-9">
                    <h5 class="fw-bold">Kent State University</h5>
                    <ul>
                        <li>Bachelors of Science In Computer Science with a minor in business.</li>
                        <li>2014 to 2018</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    <img class="logo"
                         src="{{tricLogo}}"
                         alt="Cuyahoga Community College logo." />
                </div>
                <div class="col-md-9">
                    <h5 class="fw-bold">Cuyahoga Community College</h5>
                    <ul>
                        <li>General Studies.</li>
                        <li>2012 to 2014</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    <img class="logo"
                         src="{{brushLogo}}"
                         alt="Charles F. Brush High School logo." />
                </div>
                <div class="col-md-9">
                    <h5 class="fw-bold">Charles F. Brush High School</h5>
                    <ul>
                        <li>High School Diploma.</li>
                        <li>2008 to 2012</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
