<div class="home">
    <div class="row header">
        <nav class="col-sm-8 navbar navbar-light" id="table-of-contents">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experience</a>
                </li>
            </ul>
        </nav>
        <div class="col-sm-4">
            <contact-me></contact-me>
        </div>
    </div>
    <div class="row mobile-header">
        <div class="col-sm-12">
            <a href="about">
                <img class="site-logo"
                 src="{{logo}}">
            </a>
            <contact-me></contact-me>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="about">
                <photo-gallery></photo-gallery>
                <about></about>
            </div>
            <div id="education">
                <education></education>
            </div>
            <div id="experience">
                <experience></experience>
            </div>
        </div>
    </div>
    <div class="row footer">
        <span class="p-3">Designed By Christian Laurienzo</span>
    </div>
</div>