<div class="home">
    <div class="row header">
        <div class="col-sm-1">
            <img class="site-logo"
                 src="../../../assets/images/cl-white-logo.png">
        </div>
        <nav class="col-sm-7 navbar navbar-light" id="table-of-contents">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experience</a>
                </li>
            </ul>
        </nav>
        <div class="col-sm-4">
            <contact-me></contact-me>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="overview">
                <overview></overview>
            </div>
            <div id="education">
                <education></education>
            </div>
            <div id="experience">
                <experience></experience>
            </div>
        </div>
    </div>
</div>