@import '../../../assets/styles/variables.scss';

.home {

    .nav-pills .nav-link.active {
        color: white;
        background-color: black;
    }

    .nav-link {
        color: black;
    }

    .site-logo{
        margin: 5px 0px 0px 20px;
        height: 55px;
    }

    .header{
        top: 0;
        position: fixed;
        width: 102%;
        z-index: 100;
        background-color: $transparent;

        ul {
            margin-left: 10px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    .mobile-header{
        top: 0;
        position: fixed;
        width: 102%;
        z-index: 100;
        background-color: $transparent;

        ul {
            margin-left: 10px;
        }

        @media (min-width: 768px) {
            display: none;
        }
    }

    .footer{
        color: $global-grey;
        text-align: center;
    }
}