<div class="overview">
    <div class="row">
        <div class="col-sm-12">
            <p class="p-4">
                <span class="tab"></span>Hello, my name is Christian Laurienzo. I'm a husband, brother, son, and 
                software developer. I've worked as a developer professionally for the past {{yearsDeveloping}} years. 
                I prefer front end development, although my experience involves the entire stack. User interfaces
                and experiences are the bridges between now and my earlier education in fine arts. Feel 
                free to reach out if you have any questions or collaborative opportunities.
            </p>
        </div>
    </div>
</div>
