<div class="experience">
    <h2>Experience</h2>
    <ul class="list-group list-group-flush accordion pt-4">
        <li class="list-group-item">
            <h5 class="fw-bold">
                <span>Yardi Systems</span>
                <a href="{{yardi}}" target="_blank">
                    <i class="bi bi-box-arrow-up-right link-icon"></i>
                </a>
                <span class="float-end mobile-hide">2018 - Present</span>
            </h5>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        Yardi Systems is an industry leading software company specialized in residential and comercial property
                        management. I work with the residential programming team on two different products: AssetIQ, and RevenueIQ.
                        AssetIQ is designed for asset managers and operational executives, helping them optimize asset value
                        with predictive analytics and prescriptive actions driven by big data and benchmarking. Revenue IQ 
                        prices new and renewal leases using the balance between real-time inventory, traffic and market conditions. 
                        Providing visibility into rent movement and operational performance.
                    </p>
                </div>
                <div class="col-sm-2">
                    <h6>Technical</h6>
                    <ul>
                        <li>Angular</li>
                        <li>Angularjs</li>
                        <li>JavaSqript</li>
                        <li>D3.js</li>
                        <li>CSS</li>
                        <li>SASS</li>
                        <li>C#</li>
                        <li>VB</li>
                        <li>.Net</li>
                        <li>.Net Core</li>
                        <li>SQL</li>
                        <li>OOP</li>
                        <li>Design Patterns</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Tools</h6>
                    <ul>
                        <li>Visual Studio</li>
                        <li>VS Code</li>
                        <li>Microsoft SQL Server Management Studio</li>  
                        <li>MySQL Workbench</li>
                        <li>Team City</li>
                        <li>Team Foundation</li>
                        <li>Jira</li>
                        <li>SCRUM</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Nontechnical</h6>
                    <ul>
                        <li>Collaboration</li>
                        <li>Residential Multi Family Standards & Practices</li>
                        <li>Residential Housing Laws</li>
                        <li>Residential Multi Family KPI's</li>
                    </ul>
                </div>
            </div>
        </li>
        <li id="collapseExtra" class="list-group-item accordion-collapse collapse">
            <h5 class="fw-bold">
                <span>Cleveland Metroparks Huntington Reservation</span>
                <a href="{{metroParks}}" target="_blank">
                    <i class="bi bi-box-arrow-up-right link-icon"></i>
                </a>
                <span class="float-end mobile-hide">2014 - 2017</span>
            </h5>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        Huntington Reservation is a lakefront park acquired by Cleveland Metroparks. I worked as a
                        seasonal lifeguard for the park. Daily tasks involved: control and maintain a safe environment
                        for patrons, daily beach clean ups, and crowd control. Weekly tasks involved: first aid,
                        CPR/AED, water rescue, and emergency action plan training.  
                    </p>
                </div>
                <div class="col-sm-2">
                    <h6>Technical</h6>
                    <ul>
                        <li>CPR/AED</li>
                        <li>First Aid</li>
                        <li>Waterfront Safety</li>
                        <li>Water Rescue</li>
                        <li>EAP</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Tools</h6>
                    <ul>
                        <li>First Aid Kit</li>
                        <li>Automated External Defibrillator</li>
                        <li>Kayaks</li>
                        <li>Surfboards</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Nontechnical</h6>
                    <ul>
                        <li>Teamwork</li>
                        <li>Communication</li>
                        <li>Customer Service</li>
                    </ul>
                </div>
            </div>
        </li>
        <li id="collapseExtra" class="list-group-item accordion-collapse collapse">
            <h5 class="fw-bold">
                <span>Kent State University Dining Services</span>
                <a href="{{ksuDining}}" target="_blank">
                    <i class="bi bi-box-arrow-up-right link-icon"></i>
                </a>
                <span class="float-end mobile-hide">2014 - 2016</span>
            </h5>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        Kent State University Dining Services provide food options for student's living on campus, as well
                        as employment opportunities. I worked at Einstein Bros. Bagels. My responsibilities involved: operating
                        cash register, preparing food, and cleaning duties.  
                    </p>
                </div>
                <div class="col-sm-2">
                    <h6>Technical</h6>
                    <ul>
                        <li>Health and Food Safety Regulations</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Tools</h6>
                    <ul>
                        <li>Point of Sale System</li>
                        <li>Expresso Machine</li>
                        <li>Kitchen Utensils</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Nontechnical</h6>
                    <ul>
                        <li>Teamwork</li>
                        <li>Communication</li>
                        <li>Customer Service</li>
                    </ul>
                </div>
            </div>
        </li>
        <div class="text-center p-3">
            <button (click)="isShow = !isShow"
                    type="button" 
                    class="btn btn-outline-dark"
                    data-bs-toggle="collapse" 
                    data-bs-target="#collapseExtra">
                    {{isShow ? 'Hide More' : 'Show More'}}
            </button>
        </div>
    </ul>
</div>
