<div class="contact-me d-flex flex-row">
    <div class="p-1">
        <a href="tel:{{phoneNumber}}">
            <i class="bi bi-telephone contact-icon"></i>
        </a>
    </div>
    <div class="p-1">
        <a href="mailto:{{email}}">
            <i class="bi bi-google contact-icon"></i>
        </a>
    </div>
    <div class="p-1">
        <a href="{{linkedIn}}" target="_blank">
            <i class="bi bi-linkedin contact-icon"></i>
        </a>
    </div>
    <div class="p-1">
        <a href="{{gitHub}}" target="_blank">
            <i class="bi bi-github contact-icon"></i>
        </a>
    </div>
</div>
