.contact-me {
    padding-top: 10px;
    float: right;

    .contact-icon {
        font-size: 20px;
        color: white;
        padding: 5px;
    }

    .contact-icon:hover {
        font-size: 25px;
    }
}