<div class="contact-me d-flex flex-row">
    <div class="p-1">
        <a href="tel:2169901711">
            <i class="bi bi-telephone contact-icon"></i>
        </a>
    </div>
    <div class="p-1">
        <a href="mailto:christian.laurienzo@gmail.com">
            <i class="bi bi-google contact-icon"></i>
        </a>
    </div>
    <div class="p-1">
        <a href="https://www.linkedin.com/in/christian-laurienzo-71b43260/" target="_blank">
            <i class="bi bi-linkedin contact-icon"></i>
        </a>
    </div>
    <div class="p-1">
        <a href="https://github.com/C-Laurienzo" target="_blank">
            <i class="bi bi-github contact-icon"></i>
        </a>
    </div>
</div>
