@import "../../../assets/styles/variables.scss";

.services {
    padding: 20px;

    i {
        font-size: 30px;
    }

    .borders {
        @media (max-width: 768px) {
            border-top: 1px solid $global-grey;
            border-bottom: 1px solid $global-grey;
        }

        @media (min-width: 768px) {
            border-left: 1px solid $global-grey;
            border-right: 1px solid $global-grey;
        }
    }
}
