<div class="experience">
    <h2>Experience</h2>
    <ul class="list-group list-group-flush accordion pt-4">
        <li class="list-group-item">
            <h5 class="fw-bold">
                <span>Capital One Financial</span>
                <a href="{{capitalOne}}" target="b">
                    <i class="bi bi-box-arrow-up-right link-icon"></i>
                </a>
                <span class="float-end mobile-hide">2022 - Present</span>
            </h5>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        Full stack developer in the Financial Services division under the Dealer Website team. The team is responsible
                        for  implementing/maintaining the framework for Capital One products to integrate with our customer car dealerships
                        websites. I am a contributor on the framework and the pre-qualification tool.
                    </p>
                </div>
                <div class="col-sm-2">
                    <h6>Technical</h6>
                    <ul>
                        <li>TypeScript</li>
                        <li>JavaScript</li>
                        <li>ReactJs</li>
                        <li>Java</li>
                        <li>CSS</li>
                        <li>SCSS</li>
                        <li>HTML</li>
                        <li>NodeJs</li>
                        <li>NestJs</li>
                        <li>Express</li>
                        <li>Webpack</li>
                        <li>Cypress</li>
                        <li>Playwright</li>
                        <li>ESLint</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Tools</h6>
                    <ul>
                        <li>VS Code</li>
                        <li>Jenkins</li>
                        <li>Splunk</li>
                        <li>Grafana</li>
                        <li>PagerDuty</li>
                        <li>AWS</li>
                        <li>S3</li>
                        <li>ECS</li>
                        <li>Cloudfront</li>
                        <li>Route53</li>
                        <li>Confluence</li>
                        <li>Jira</li>
                        <li>Git</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Nontechnical</h6>
                    <ul>
                        <li>Collaboration</li>
                        <li>Communication</li>
                        <li>Sprint Planning</li>
                        <li>Agile Development</li>
                        <li>Usability</li>
                        <li>Car Buying Process from Financial Perspective</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <h5 class="fw-bold">
                <span>Yardi Systems</span>
                <a href="{{yardi}}" target="_blank">
                    <i class="bi bi-box-arrow-up-right link-icon"></i>
                </a>
                <span class="float-end mobile-hide">2018 - 2022</span>
            </h5>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        Yardi Systems is an industry leading software company specialized in residential and comercial property
                        management. I work with the residential programming team on two different products: AssetIQ, and RevenueIQ.
                        AssetIQ is designed for asset managers and operational executives, helping them optimize asset value
                        with predictive analytics and prescriptive actions driven by big data and benchmarking. Revenue IQ 
                        prices new and renewal leases using the balance between real-time inventory, traffic and market conditions. 
                        Providing visibility into rent movement and operational performance.
                    </p>
                </div>
                <div class="col-sm-2">
                    <h6>Technical</h6>
                    <ul>
                        <li>Angular</li>
                        <li>Angularjs</li>
                        <li>JavaSqript</li>
                        <li>D3.js</li>
                        <li>CSS</li>
                        <li>SASS</li>
                        <li>C#</li>
                        <li>VB</li>
                        <li>.Net</li>
                        <li>.Net Core</li>
                        <li>SQL</li>
                        <li>OOP</li>
                        <li>Design Patterns</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Tools</h6>
                    <ul>
                        <li>Visual Studio</li>
                        <li>VS Code</li>
                        <li>Microsoft SQL Server Management Studio</li>  
                        <li>MySQL Workbench</li>
                        <li>Team City</li>
                        <li>Team Foundation</li>
                        <li>Jira</li>
                        <li>SCRUM</li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <h6>Nontechnical</h6>
                    <ul>
                        <li>Collaboration</li>
                        <li>Residential Multi Family Standards & Practices</li>
                        <li>Residential Housing Laws</li>
                        <li>Residential Multi Family KPI's</li>
                    </ul>
                </div>
            </div>
        </li>
        <li id="collapseExtra" class="list-group-item accordion-collapse collapse">
            <h5 class="fw-bold">
                <span>AWS Certified Solutions Architect</span>
                <a href="{{aws}}" target="b">
                    <i class="bi bi-box-arrow-up-right link-icon"></i>
                </a>
                <span class="float-end mobile-hide">2023 - 2026</span>
            </h5>
            <div class="row">
                <div class="col-sm-12">Issued June 2023 - Expires June 2026</div>
                <div class="col-sm-12">Credential ID - 3PJGG5W18MV41SC4</div>
            </div>
        </li>
        <div class="text-center p-3">
            <button (click)="isShow = !isShow"
                    type="button" 
                    class="btn btn-outline-dark"
                    data-bs-toggle="collapse" 
                    data-bs-target="#collapseExtra">
                    {{isShow ? 'Hide More' : 'Show More'}}
            </button>
        </div>
    </ul>
</div>
